.mainToolbar {
  border: solid 0.5px lightskyblue;
  border-radius: 5px;
  display: flex;
  height: 2rem;
}

.grupPrincipal {
  flex: auto;
  padding-left: 5px;
  padding-top: 2px;
  display: flex;
}
.grupLogin {
  padding-right: 5px;
  padding-top: 2px;
}

.articolMeniu {
  margin-top: 3px;
  margin-right: 2px;
  padding-right: 2px;
  padding-left:2px;
  background-color:whitesmoke; /*necesara la extinderea div-ului cu elementele de submeniu*/
  border-width: 1px;
  border-style: solid;
  border-color: lightblue;
  border-radius: 3px;
  height:fit-content;
  z-index: 0;
}

.optiuneJob {
  padding: 2px;
  margin: 2px;
  border: solid 0.5px lightskyblue;
  border-radius: 5px;
  display: flex;
}
.optiuneJob h3 {
  padding-top: 2px;
  margin-top: 2px;
}
.informatiiJob {
  /*background:silver;*/
  clear: both;
  /*flex:auto;*/
  width:80%;
  padding-left:1rem;
}

.divAplicaJob {
  align-items: center;
  vertical-align:middle;
  padding:3rem;
  /*background:cyan;*/
}

.aplicaJob {
  /*background:yellow;*/
  border-radius:5px;
  border-width: 1px;
}